@media (max-width: 1120px){
  .gallery__item{
    max-width: 20vw;
    max-height: 26.3vw;
  }
  .gallery__item-big{
    width: 32.4vw;
    max-height: 26.3vw;
  }
  .gallery__top, .gallery__bottom{
    gap: 23px;
  }
}
@media (max-width: 1064px){
  .chance__left{
    max-width: 52.5vw;
    max-height: 52.5vw;
  }
  .card__screen{
    max-width: 270px;
    height: 170px;
  }
  .card__base{
    max-width: 320px;
  }
  .card__icon{
    max-width: 34.0vw;
    max-height: 25.0vw;    
  }
  
}
@media (max-width: 1024px){
  .container{
    gap: 70px;
  }
  .header__container{
    margin: 0 auto 70px;
  }
.header__footer{
  height: 641px;
}
.header__footer::after{
  height: 451px;
}
.navbar__menu{
  gap: 3.4vw;
}
.navbar__menu a{
  font-size:1.6vw;
}
.card__icon{
  width: 31.2vw;
}
.chance__content{
  font-size: clamp(16px,1.9vw,20px);  
}
.chance__descr{
  font-size: clamp(14px,1.5vw,16px);
  line-height: clamp(22px,2.3vw,24px);
}
}

@media (max-width: 768px){
  .header{
    gap: 57px;
  }
  .navbar__menu{
    display: none;
  }

  .header__title{
    font-size: clamp(20px,10.4vw,80px);
    line-height: clamp(50px,11.4vw,88px);
  }

  .header__button{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 21px;
    margin: 0 auto;    
  }

  .header__footer{
    height: 441px;
  }
  .header__footer::after{
    height: 251px;
  }

  .chance{
    gap: 28px;
  }
  .chance__body{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 27px;    
  }
  .chance__left{
    background: url(/img/chance2.png);
    background-repeat: no-repeat;
    background-size: contain;

  }
  .chance__right{
    margin: 0 auto;        
  }

  
  .extension__body{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  
}
  .card{
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  max-width: 348px;
}
.card__icon{
  min-width: 270px;
  max-height: 196px;
}

.gallery__top, .gallery__bottom{
  display: none;
}
.gallery__mobile{  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;  
  gap: 33px;
}
.gallery__item{
  max-height: 285px;
  aspect-ratio: 1/1;
}
.partners__list{
  padding: 0 50px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.item-ibm{
  -ms-grid-column-span:1;
  grid-column:span 1;
}

.comments__body{
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  
}

.footer{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;  
  max-width: 218px;
  margin: 0 auto;
  gap: 75px;
  padding: 100px 0;
}
.footer__list{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 75px;
}
}

@media (max-width: 540px){

  .header__footer{
    height: 341px;
  }
  .header__footer::after{
    height: 151px;
  }
  .card__right, .card__left{
    padding: 40px 20px;
  }
}

@media (max-width: 480px){
  .chance{
    gap: 28px;
    padding: 62px 0;
  }
  .chance__body{
    width: 78.3vw;
  }
  .chance__right{    
    padding: 0;    
  }
  .header__title{    
    font-size: clamp(20px,9.5vw,50px);
    line-height: clamp(40px,8.4vw,60px);  
  }
  .header__footer{
    height: 281px;
  }
  .header__footer::after{
    height: 151px;
  }
}

@media (max-width: 390px){
  .container__header{
    margin: 0 auto 0;
  }  
  .heading{
    font-size: 42px;
  }
  .sub-heading{
    font-size: clamp(14px,4.6vw,18px);
    line-height: clamp(22px,6.4vw,25px);
  }
  .paragraphe{
    font-size: 16px;
  }
  .paragraphe--gray{
    line-height: 20px;
  }
  .chance{
    padding: 0 50px;
  }
  .extension{
    padding: 50px 30px;
  }
  .card__left{
    padding: 40px 10px;
    gap: 25px;
  }  
  .card__btn{
    font-size: 15px;
  }   
  
  .gallery__item--mobile{
    max-width: 84.3vw;
    max-height: 265px;
  }
  .comments__card{
    padding: 20px;
  }  
 
}


